* {
    box-sizing: border-box;
}

.mr-2 {
    margin-right: 5px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #367FA9;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sidebar-menu>li a {
    font-size: 16px;
}

.sidebar-menu>li i {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}

[data-lang="ar"] .sidebar-menu>li i {
    margin-right: 0;
    margin-left: 5px;
}

table .btn {
    margin: 5px!important;
}

table {
    text-align: center;
}

table th {
    text-align: center;
}